---
import Layout from "@/layouts/Layout.astro";
import Stacks from "@/sections/Stacks";
import Projects from "@/sections/Projects";
import Services from "@/sections/Services";
import ProfileCard from "@/sections/Profile";
import Clients from "@/sections/Clients";
import Testimonials from "@/sections/Testimonials";
import WorkProcess from "@/sections/WorkProcess";
import Follow from "@/sections/Follow";
import WorkTogether from "@/sections/WorkTogether";
import IndicatorsGrid from "@/components/custom/IndicatorsGrid";

const lang = Astro.preferredLocale || "es";
---

<Layout>
  <div class="min-h-screen h-screen items-center grid grid-cols-1 xl:grid-cols-[24%_33%_40%] gap-3 p-8 xl:p-5 text-white">
    <div class="flex flex-col gap-3 order-2 md:order-none">
      <div class="bg-[#101010] rounded-3xl border border-[rgba(33,33,33,0.8)]">
        <Stacks client:load />
      </div>
      <div class="bg-[#101010] rounded-xl border border-[rgba(33,33,33,0.8)]">
        <Projects client:load />
      </div>
      <div class="bg-[#101010] rounded-xl border border-[rgba(33,33,33,0.8)]">
        <Services client:load />
      </div>
    </div>

    <div class="flex flex-col gap-3.5 order-1 md:order-none">
      <div class="order-2 md:order-none rounded-xl">
        <IndicatorsGrid client:load />
      </div>

      <div class="order-1 md:order-none">
        <ProfileCard client:load />
      </div>

      <div class="bg-[#101010] rounded-xl border border-[rgba(33,33,33,0.8)] order-3 md:order-none">
        <Clients client:load />
      </div>
    </div>

    <div class="flex flex-col gap-3 order-3 md:order-none">
      <div class="flex flex-col md:flex-row gap-2">
        <div class="bg-[#101010] rounded-xl border border-[rgba(33,33,33,0.8)] md:w-[56%]">
          <Testimonials client:load />
        </div>
        <div class="bg-[#101010] rounded-xl border border-[rgba(33,33,33,0.8)] md:w-[44%]">
          <WorkProcess client:load />
        </div>
      </div>

      <div class="flex flex-col md:flex-row order-4 md:order-none gap-2">
        <div class="bg-[#101010] rounded-xl border border-[rgba(33,33,33,0.8)] md:w-[40%]">
          <Follow client:load />
        </div>
        <div class="bg-[#101010] rounded-xl border border-[rgba(33,33,33,0.8)] mb-10 sm:mb-0 md:w-[60%]">
          <WorkTogether client:load />
        </div>
      </div>
    </div>
  </div>
</Layout>
