---
import { Icon } from "astro-icon/components";
import AnimatedBorderButton from "@/components/custom/AnimatedBorder";
import { t } from "@/i18n";

export interface Props {
  lang?: string;
}

const { lang = "es" } = Astro.props;
---

<div class="w-full flex flex-col items-center justify-center pb-2.5 pt-2 px-5 text-foreground">
  <div class="flex flex-col gap-1.5 items-center justify-center text-foreground">
    <div class="p-3 rounded-full bg-[#2e2e2e] flex items-center justify-center">
      <Icon name="solar:crown-line-bold" class="w-8 h-8 text-indigo-400" />
    </div>
    <h1 class="text-1xl xl:text-sm font-semibold text-white">
      {t(lang, "workTogether.title")}
    </h1>
    <span class="text-sm text-muted-foreground">
      {t(lang, "workTogether.subtitle")}
    </span>
  </div>

  <div class="flex flex-col gap-4 mt-5 w-full">
    <a href="mailto:francoivangalluccio.com" class="w-full">
      <AnimatedBorderButton client:idle className="flex-1 p-6 text-md font-semibold text-muted-foreground">
        <Icon name="mdi:email-outline" class="size-6 mr-2 text-indigo-400" />
        {t(lang, "workTogether.email")}
      </AnimatedBorderButton>
    </a>
    <a href="https://wa.me/5491121557802" target="_blank" rel="noopener noreferrer" class="w-full">
      <AnimatedBorderButton client:idle className="flex-1 p-6 text-md font-semibold text-muted-foreground">
        <Icon name="mdi:whatsapp" class="size-6 mr-2 text-indigo-400" />
        {t(lang, "workTogether.whatsapp")}
      </AnimatedBorderButton>
    </a>
  </div>
</div>
